@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --font-just-me: var(--font-just-me-again-down-here);
  --font-instrument: var(--font-instrument-serif);
  --font-inter: var(--font-inter);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-3xl: 1700px;
  --breakpoint-xs: 390px;
  --breakpoint-2xs: 365px;
}

@utility text-gradient {
  background: linear-gradient(to bottom, #000000, #383838, #7F7F7F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .animate-slowping {
    animation: ping 2.5s cubic-bezier(0, 0, 0.2, 1) infinite;
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-3px);
    }

    100% {
      transform: translateY(0px);
    }
  }
}

html {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  letter-spacing: -0.5px;
  font-family: var(--font-inter);
}

::-moz-selection {
  color: #5f3e00;
  background: #ffbd2f;
}

::selection {
  color: #5f3e00;
  background: #ffbd2f;
}